.index {
    background-color: orange;
}

.font-4 {
    font-size: 30px;
    color: #212529;
}

.card-restaurant {
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../images/misto5.jpg);

}

.food-card-restaurant{
    position: relative;
    background:#fcbf49 ;
    color: #000;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    border: 1px solid orange;
    box-shadow: 2px 3px 1px 1px #cd6100;
    width: 40%;
    text-align: center;
    margin: 25px 10px;
}

.no-restaurant {
    text-align: center;
    color: #fff;
    padding: 40px;
}