/* NUMBERS */
.number {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
        url(../images/background-pony.jpg)center/cover no-repeat fixed;
    padding: 60px 0;
    color: #fff;
}

.number p {
    font-size: 20px;
    font-weight: bold;
}

.number:hover {
    color: orange;
}

.number .fas {
    font-size: 60px;
    margin: 20px 0;
}

.number h3 {
    text-transform: uppercase;
}

@media screen and (min-width: 576px) {
    #numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    #numbers {
        grid-template-columns: repeat(4, 1fr);
    }
}
