.header-menu {
    background: #212529;

    h1 {
        color: orange;
        text-align: center;
        text-transform: uppercase;
    }

    .btn-cart {
        background: orange;
        color: #212529;
    }
}


.menu-list {
    box-shadow: 2px 3px 1px 1px #CD6100;
    background: #fce88b;
    border-radius: 5px;

    .logo-menu {
        width: 200px;
    }

    .dish-list {
        width: 900px;
        margin: 10px auto;
        border-bottom: 1px solid black;

        h2 {
            background: #fff;
            border: 10px solid orange;
            border-style: double;
        }

        p {
            font-size: 18px;
        }

        .btn-darkorange {
            background: #212529;
            color: orange;
            font-size: 15px;
            font-weight: bold;

            &:hover {
                background: orange;
                color: #212529;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        .list-item {
            background: #fff;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 2px 3px 1px 1px orange;
        }
    }
}
